* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #580078 0%, #000 100%);
    font-size: 1.6rem;

    display: grid;
    place-items: center;
    height: 100vh;

    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
}

body, button, input {
    font-family: "DM Sans", sans-serif;
}

button {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;

    transition: background .3s;
}

button:hover {
    color: #000;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.724);
}

.hide {
    display: none;
}

main {
    /*border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);*/
    

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: .8rem;

    backdrop-filter: blur(.4rem);
    -webkit-backdrop-filter: blur(.4rem);

    padding: 4.8rem 6.4rem 6.4rem;

    width: min(42.8rem, 90%);
    margin-top: -12rem;

    text-align: center;
}

/*screen 1*/
h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    color: #fff;
}

p {
    color: #fff;
    opacity: .8;
}

form {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

input, button {
    border: none;
    padding: 1.6rem;
}

input {
    background-color: #DCE2E9;
    width: 6rem;
    border-radius: .4rem 0 0 .4rem;

}

/*screen 2*/

h2 {
    font-size: 2.4rem;
    font-weight: normal;

    margin-bottom: 3.3rem;

    color: #fff;
}

.screen2 button {
    border-radius: .4rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}